<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GrapesJS MJML Plugin</title>
  <link href="assets/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
  <script src="assets/grapesjs/dist/grapes.min.js"></script>
  <script src="assets/grapesjs-mjml/dist/index.js"></script>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .cke_top {
      background: #444 !important;
    }

    .cke_chrome {
      border: none !important;
    }

    .cke_toolgroup {
      border: none !important;
      background: transparent !important;
      box-shadow: none !important;
    }
  </style>
</head>

<body>

  <div id="gjs" style="height:0px; overflow:hidden">
    <mjml>
  <mj-head>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css2?family=Roboto" />
  </mj-head>
  <mj-body background-color="#f7f7f7" width="600px">

    <!-- Marketing Header-->
    <mj-section>
      <mj-column>
        <mj-text align="right" color="#121212" font-family="Roboto" font-size="14px">{{ unsubscribe }}</mj-text>
      </mj-column>
    </mj-section>

    <!-- Logo Header-->
    <mj-section>
      <mj-column>
        <mj-image align="center" width="238px" src="assets/logo-header.png"></mj-image>
      </mj-column>
    </mj-section>

    <!-- Company Key Words -->
    <mj-section>
      <mj-column border="solid 1px #121212" padding="6px 3px">
        <mj-text align="center" color="#121212" font-family="Roboto" font-size="14px"font-weight="700" padding="0">CREATIVE <span style="color: #62CEFE;">|</span> OPEN <span style="color: #62CEFE;">|</span> COURAGEOUS <span style="color: #62CEFE;">|</span> OBSESSIVE <span style="color: #62CEFE;">|</span> NIMBLE <span style="color: #62CEFE;">|</span> EVOLVING <span style="color: #62CEFE;">|</span> FUN</mj-text>
      </mj-column>
    </mj-section>

    <!-- Hero -->
    <mj-section padding="0" background-color="#f7f7f7">
      <mj-column padding="0">
        <mj-table padding="0">
          <tr>
            <td colspan="2" rowspan="2"><img src="assets/hero-general-questions.jpg" height="415px" width="100%" style="line-height: 0px;display:block;" /></td>
            <td bgcolor="#f7f7f7" width="8px" height="12px"><img src="assets/spacer-right.png" width="8px" height="12px" style="line-height: 0px;display:block;" /></td>
          </tr>
          <tr>
            <td colspan="2" bgcolor="#40C8F4" width="8px"><img src="assets/spacer-right.png" width="8px" height="12px" style="line-height: 0px;display:block;" /></td>
          </tr>
          <tr>
            <td bgcolor="#f7f7f7" width="12px" height="10px"><img src="assets/spacer-bottom.png" width="12px" height="10px" style="line-height: 0px;display:block;" /></td>
            <td colspan="2" bgcolor="#40C8F4" height="10px"><img src="assets/spacer-bottom.png" width="12px" height="10px" style="line-height: 0px;display:block;" /></td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <!-- Footer Block -->
    <mj-section padding="0px">
    	<mj-column background-color="#000000">
        <mj-image align="center" src="assets/logo-footer.png" padding="50px 0 17px" width="185px"></mj-image>
        <mj-social font-size="15px" icon-size="30px" mode="horizontal">
          <mj-social-element href="https://www.facebook.com/9rooftops" src="assets/icon-facebook.png"></mj-social-element>
          <mj-social-element href="https://www.instagram.com/9rooftops/" src="assets/icon-instagram.png"></mj-social-element>
          <mj-social-element href="https://www.linkedin.com/company/9rooftops/mycompany/" src="assets/icon-linkedin.png"></mj-social-element>
        </mj-social>
        <mj-divider border-width="1px" border-style="solid" border-color="lightgrey" />
        <mj-text align="center" color="#ffffff" font-family="Roboto" font-size="12px"><a href="https://www.9Rooftops.com" style="color: #ffffff;">www.9Rooftops.com</a></mj-text>
        <mj-text align="center" color="#ffffff" font-family="Roboto" font-size="12px" padding-bottom="20px">350 North Clark, 3rd Floor, Chicago, IL 60654</mj-text>
      </mj-column>
    </mj-section>

    <!-- Copy Write Block -->
    <mj-section background-color="#ffffff" padding="10px">
    	<mj-column>
        <mj-text color="#000000" font-family="Roboto" font-size="12px" padding="0px">© 2024 9Rooftops</mj-text>
      </mj-column>
      <mj-column>
        <mj-text align="right" color="#000000" font-family="Roboto" font-size="12px" padding="0px">{{ Unsubscribe }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>

  </div>


  <script type="text/javascript">
    // Wait for the plugin to be injected by the dev server
    window.onload = () => {
      window.editor = grapesjs.init({
        height: '100%',
        noticeOnUnload: false,
        storageManager: false,
        fromElement: true,
        container: '#gjs',

        plugins: ['grapesjs-mjml'],
        pluginsOpts: {
          'grapesjs-mjml': {}
        }
      });
    }
  </script>
</body>

</html>
