article {
  // todo
}

aside {
  // todo
}

img {
  &.nine-img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  @include font_headline(bold);
  color: $text_01;
  line-height: 100%;
}

h1,
.h1 {
  line-height: 40px;
  @include font_size(32px);
  @include mq(lg) {
    line-height: 48px;
    @include font_size(40px);
  }
}

h2,
.h2 {
  line-height: 40px;
  @include font_size(24px);
  @include mq(lg) {
    line-height: 40px;
    @include font_size(32px);
  }
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 24px;
  @include font_size(18px);
  @include mq(lg) {
    line-height: 32px;
    @include font_size(24px);
  }
}

main {
  @include position_relative();
}

nav {
  @include position_relative();
}

section {
  @include position_relative();
}
