iframe {
  border: solid 1px $ui_03;
  width: 100%;
}

.nine-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;

  & iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

object {
  border: solid 1px $ui_03;
  width: 100%;
}
