button,
.nine-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  @include bg_transition();
  @include border_radius();
  &::-moz-focus-inner { // remove inner focus border in Firefox
    padding: 0;
    border: 0;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $ui_01;
  }
  &[disabled],
  &:disabled,
  &.-disabled {
    background-color: $ui_03;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.-primary {
    background-color: $ui_01;
    border: solid 1px $text_01;
    color: $text_01;
    &:hover,
    &:focus,
    &:active {
      background-color: $ui_02;
    }
  }
  &.-seconday {
    //todo
  }
  &.-tertiary {
    //todo
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid $ui_03;
  vertical-align: middle;
  box-sizing: border-box;
  @include border_radius();
}
input[type="color"] {
  display: inline-block;
  border: 1px solid $ui_03;
  vertical-align: middle;
  box-sizing: border-box;
  @include border_radius();
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
input[type="color"] {
  cursor: pointer;
}
input[type="submit"] {
  border-color: $c_green;
}
input[type="reset"] {
  border-color: $c_red;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  //todo
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  //todo
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: $ui_03;
  color: $text_03;
}

input[readonly],
select[readonly],
textarea[readonly] {
  background-color: $ui_03;
  color: $text_01;
  border-color: $ui_03;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: $c_red;
  border-color: $c_red;
}
input:valid,
textarea:valid,
select:valid {
  //todo
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  //todo
}

input {
  // todo
}

select {
  // todo
}

textarea {
  // todo
}

label {
  color: $text_01;
  display: block;
  margin: 2px 0;
  @include font_headline(bold);
}

fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

legend {
  background-color: $ui_03;
  color: $text_01;
  padding: 2px 4px;
  @include border_radius();
  @include font_headline(bold);
}

optgroup {
  color: $text_01;
  @include font_headline(bold);
}
