a {
  color: $text_01;
  @include bg_transition(0.4s);
  &:hover,
  &:focus {
    color: $hover_01;
  }

  &[href*="mailto:"]::before {
    content: "\f2b6";
    margin-right: 6px;
    @include font_icon();
  }

  &[href*="tel:"]::before {
    content: "\f095";
    margin-right: 6px;
    @include font_icon();
  }

  &[target*="_blank"]::before {
    content: "\f360";
    margin-right: 6px;
    @include font_icon();
  }
}
address {
  // todo
}

abbr {
  color: $text_02;
  @include bg_transition(.4s);
  @include font_base(regulari);
  &:hover {
    color: $hover_01;
  }
}

b,
strong {
  @include font_headline(bold);
}

cite {
  @include font_base(regulari);
}

code {
  border: solid 1px $ui_03;
  border-left: solid 5px $ui_03;
  color: $text_01;
  display: block;
  margin-bottom: 20px;
  padding: 8px;
  overflow-x: scroll;
}

data {
  @include font_base(regulari);
  @include font_size(12px);
  color: $text_03;
  content: ' (ID ' attr(value) ')';
}

em {
  @include font_base(regulari);
}

sub,
sup {
  @include font_size(8px);
}
