html {
  @include position_relative();
}

body {
  line-height: 24px;
  box-sizing: border-box;
  color: $text_01;
  font-size: 100%;
  @include position_relative();
  @include font_base(regular);
  @include font_size(16px);
  @include mq(lg) {
    @include font_size(18px);
    line-height: 32px;
  }
}

html,
body {
  background-color: $ui_01;
}
