caption {
  caption-side: bottom;
  color: $text_02;
  padding: 10px;
  @include font_base(regulari);
  @include font_size(12px);
}

table {
  border-collapse: collapse;
  border: 1px solid $ui_03;
}

tbody {
  // todo
}

td,
th {
  border: 1px solid $ui_03;
}

tfoot,
thead {
  color: $text_01;
  border-bottom: solid 1px $ui_03;
  @include font_headline(bold);
  @include font_size(16px);
}

tr {
  @include bg_transition();

  &:hover {
    background-color: $hover_row;
  }

  &:nth-child(even) {
    background-color: $ui_02;
  }

  &:nth-child(odd) {
    background-color: $ui_01;
  }
}
