blockquote {
  // todo
}

div {
  box-sizing: border-box;
}

dl {
  dt {
    color: $text_01;
    @include font_headline(bold);
    @include font_size(16px);
  }

  dd {
    color: $text_01;
    @include font_base(regular);
    @include font_size(14px);
  }
}

figure {
  border: solid 1px $ui_03;
  padding: 4px;
  text-align: center;
  @include position_relative();
  @include border_radius();
  & figcaption {
    background-color: $ui_03;
    color: $text_02;
    padding: 8px;
  }
}

hr {
  color: $ui_03;
}

ol {
  &.-styled {
    list-style: none;
    li {
      &::before {
        content: counter(li);
        color: $text_01;
        display: inline-block;
        width: 1em;
        margin-left: -1.5em;
        direction: rtl;
        @include font_headline(bold);
      }
    }
  }
  &.-no-style {
    list-style: none;
    & li {
      &::before {
        content: '';
        display: none;
        margin-left: 0;
        width: 0px;
      }
    }
  }
}

p {
  // todo
}

pre {
  // todo
}

ul {
  &.-styled {
    list-style: none;
    & li {
      &::before {
        content: "\2022";
        color: $text_01;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        @include font_headline(bold);
      }
    }
  }
  &.-no-style {
    list-style: none;
    & li {
      &::before {
        content: '';
        display: none;
        margin-left: 0;
        width: 0px;
      }
    }
  }
}
