/**
 * header
 */
.nine-header {
  z-index: 200;
  &__logo {
    & img {
      width: 100%;
      height: auto;
      max-width: 85px;
    }
  }
  &__menu-icon {
    display: block;
    @include mq(lg) {
      display: none;
    }
  }
}
