/**
 * search field
 */
.searchContainer{
	@include bg_transition(.4s);
	@include border_radius();
	background-color: transparent;
	border: none;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height: 0px;
	z-index: 100;
	&.-open{
		background-color: $ui_01;
		height: 100vh;
		padding: 80px 2%;
		z-index: 110;
	}
	& .icon,
	&__fields{
		@include position_relative();
		@include font_size(28px);
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
	}
	& .icon{
		max-width: 1094px;
		text-align: right;
		& i{
			padding: 12px;
		}
	}
	&__fields{
		border-bottom: solid 1px $ui_03;
	}
	& label{
		display: none;
	}
	& .form-type-search-api-autocomplete{
		@include grid-column(col-10);
		background-image: none;
		background-color: transparent;
		border: none;
		box-shadow: none;
		margin-top: 0px;
		margin-bottom: 0px;
		& input{
			@include border_radius(0,0,0,0);
			box-shadow: none;
			border: none;
			background-color: transparent;
			background-image: none;
			line-height: 37px;
			width: 100%;
		}
	}
	& .form-actions{
		@include border_radius(0,0,0,0);
		@include grid-column(col-2);
		cursor: pointer;
		border: none;
		box-shadow: none;
		clear: none;
		margin: 0px;
		text-align: right;
		&:hover,
		&:active{
			& input{
				color: $hover_01;
			}
		}
		& input{
			@include border_radius(0,0,0,0);
			@include font_size(24px);
			color: $text_01;
			background-color: transparent;
			background-image: none;
			border: none;
			cursor: pointer;
			font-family: 'Font Awesome 5 Pro';
			&:hover,
			&:active{
				color: $hover_01;
				background-image: none;
			}
		}
	}
}
.ui-autocomplete{
	border: solid 1px $ui_03;
	padding: 8px;
	z-index: 600;
	& .ui-autocomplete-field-group{
		@include font_base(bold);
		@include opacity(1);
		background-color: $ui_01;
		border-bottom: solid 1px $ui_03;
		color: $text_01;
	}
	& li.ui-menu-item{
		padding: 0 10px;
		&:nth-child(odd){
			// TODO
		}
		&-first{
			background-color: $ui_01 !important;
		}
	}
	& .ui-autocomplete-field-title{
		@include font_base(light);
		@include font_size(18px);
	}
	& .ui-autocomplete-field-body,
	& .ui-autocomplete-field-created{
		@include font_size(12px);
	}
	& .ui-autocomplete-field-promote,
	& .ui-autocomplete-field-sticky{
		display: none;
	}
}
