/**
 * layout sidebar columns
 */
 .layout {
  &__sidebar {
    @include mq(desktop) {
      @include grid-column(col-3);
    }
  }
  &__content {
    &.-sidebar_first {
      margin-right: 0 !important;
      @include mq(desktop) {
        padding: 0 $gutter-desktop 0 0;
      }
      @include mq(hd) {
        padding: 0 $gutter-hd 0 0;
      }
    }
    &.-sidebar_first,
    &.-sidebar_second {
      @include mq(desktop) {
        @include grid-column(col-9);
      }
      & .page-title {
        line-height: normal;
        padding: 0 $gutter-mobile;
        @include mq(tablet) {
          padding: 0 $gutter-tablet;
        }
        @include mq(desktop) {
          padding: 0;
        }
      }
      & .sectionLayout {
        &__content {
          @include mq(desktop) {
            padding: 0;
          }
        }
      }
    }
    &.-sidebar_first.-sidebar_second {
      @include mq(desktop) {
        @include grid-column(col-6);
      }
    }
  }
}
