.nine-alert {
  $p: &;
  @include position_relative();
  background-color: $ui_01;
  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: $width_xl;
  }
  &__heading {
    //todo
  }
  &__text {
    //todo
  }
  &.-info,
  &.-warning,
  &.-error,
  &.-success {
    & #{$p}__heading,
    & #{$p}__text,
    & a {
      color: $text_01;
    }
    & #{$p}__heading:before {
      @include font_icon();
      content: '';
      cursor: default;
      margin-right: 5px;
    }
    & #{$p}__text {
      padding-left: 34px;
    }
  }
  &.-info {
    background-color: lighten($c_blue, 55%);
    border-left: solid 4px $c_blue;
    & #{$p}__heading:before {
      content: '\f05a';
    }
  }
  &.-warning {
    background-color: lighten($c_yellow, 55%);
    border-left: solid 4px $c_yellow;
    & #{$p}__heading:before {
      content: '\f071';
    }
  }
  &.-error {
    background-color: lighten($c_red, 55%);
    border-left: solid 4px $c_red;
    & #{$p}__heading:before {
      content: '\e417';
    }
  }
  &.-success {
    background-color: lighten($c_green, 55%);
    border-left: solid 4px $c_green;
    & #{$p}__heading:before {
      content: '\f058';
    }
  }
}
