.nine-banner {
  @include position_relative();
  & {
    background-color: $ui_02;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
    height: 100%;
  }
  &.-bg-right {
    background-position: right;
  }
  &.-bg-left {
    background-position: left;
  }
  &__image {
    & img {
      @include opacity(0);
      width: 100%;
      height: auto;
    }
  }
}
