/**
 * search field
 */
 .nine-header__search {
  background-color: $ui_01;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0px;
  display: none;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  &.-active {
    display: flex;

  }
}
.nine-search {
  width: 100%;
  max-width: 20em;
  margin-block: auto;
  @include mq(lg) {
    max-width: $width_sm;
    margin-block: unset;
  }
  &__toggle {
    text-align: right;
  }
  &__label {
      //todo
  }
  & input {
    border: none;
    background-color: $ui_01;
    color: $text_01;
  }
}
