.nine-milestones {
  $parent: &;
  &__items {
    @include position_relative();
  }
  &__item {
    overflow: hidden;
    &.-animate {
      @include opacity(0);
    }
    &.-is-visible {
      @include slide_up_bottom;
    }
  }
  &__body {
    @include box_shadow();
  }
  &__percentage {
    @include font_size(32px);
  }
  &__subtitle {
    //todo
  }
  &__title {
    @include font_headline();
    @include font_size(18px);
  }
  &__copy {
    //todo
  }
  &__link {
    //todo
  }
}
