.nine-blockquote {
  $parent: &;
  overflow: hidden;
  &__content {
    @include position_relative();
    flex-direction: column;
    align-content: center;
    max-width: $width_lg;
  }
  &__icon {
    //todo
  }
  &__person {
    flex-direction: column;
    align-items: center;
  }
  &__image {
    @include border_radius();
    overflow: hidden;
    max-width: 100px;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__name-title {
    //todo
  }
  &__name {
    //todo
  }
  &__title {
    //todo
  }
  &__comment {
    //todo
  }
  &__content {
    &.-animate {
      @include opacity(0);
      @include slide_up_bottom;
    }
  }
}
