.nine-axe {
  position: fixed;
  right: 0px;
  top: 100px;
  z-index: 1000;
  width: 400px;
  height: fit-content;
  background-color: $ui_01;
  padding: 1rem;
  @include box_shadow();
  &.-close {
    width: 0px;
    padding: 0;
    & i {
      @include rotate(180deg);
    }
  }
  &__content {
    height: 400px;
    @include position_relative();
    @include vertical_scroll();
  }
  & strong {
    display: block;
    margin-top: 10px
  }
  &__open-close {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-color: $ui-01;
    cursor: pointer;
    @include border_radius(8px, 0px, 0px 8px);
    @include box_shadow();
    &:hover {
      & i {
        color: $brand_01;
      }
    }
  }
}
