.nine-cta {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @include position_relative();
  &__image {
    line-height: 0px;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include opacity(0);
      @include mq(lg) {
        min-height: 100%;
      }
    }
  }
  &__content {
    top: 0px;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    @include position_relative();
    @include mq(lg) {
      position: absolute;
    }
  }
  &__copy {
    border: solid 1px;
    background-color: $ui-01;
    padding: 2%;
    text-align: center;
    @include mq(lg) {
      max-width: 50%;
    }
  }
  &__title {
    & h2 {
      // todo
    }
  }
  &__body {
    // todo
  }
  &__links {
    // todo
  }
  &__link {
    // todo
  }
  &.-no-bg {
    & .nine-cta__content {
      padding: 50px;
      @include mq(lg) {
        position: relative;
      }
    }
  }
}
