/**
 * nine scrolltop.
 */
 .nine-scrolltop {
  position: fixed;
  right: -100px;
  bottom: 150px;
  z-index: 1000;
  @include all_transition();
  &.-active {
    right: 0px;
  }
  &__link {
    border: solid 1px $ui_03;
    font-size: 25px;
    border-right: none;
    background-color: $ui_01;
    color: $text_01;
    cursor: pointer;
    @include border_radius(7px, 0px, 0px, 7px);
    @include box_shadow();
    & .fa {
      padding: 10px 15px;
    }
    & a {
      display: block;
      padding: 12px;
    }
  }
}
