.nine-tabs {
  $parent: &;
  @include position_relative();
  overflow: hidden;
  &__navigation {
    justify-content: space-between;
    cursor: pointer;
  }
  &__navigation.-mobile {
    display: flex;
    @include mq(lg) {
      display: none;
    }
  }
  &__placeholder {
    //todo
  }
  &__menu {
    @include position_relative();
    display: none;
    @include mq(md) {
      display: flex;
    }
  }
  &__menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 14px 16px;
    &:hover,
    &.-active {
      //todo
    }
  }
  &__menu-open {
    cursor: pointer;
    display: block;
    margin-right: 0px;
    padding: 20px 8px;
    text-align: center;
    @include mq(md) {
      display: none;
    }
  }
  &__items {
    //todo
  }
  &__item {
    display: none;
    padding: 6px 12px;
    &.-active {
      display: block;
    }
  }
  &__navigation {
    &.-active {
      & > .nine-g {
        align-items: flex-start;
      }
      #{$parent}__menu {
        display: block;
      }
    }
  }
}
