.nine-accordion {
  $p: &;
  background-color: $ui_01;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 0px;
  left: 0px;
  &__items {
    margin-bottom: 20px;
  }
  &__item {
    @include all_transition(0.4s);
    border: solid 1px;
    margin-bottom: 20px;
  }
  &__header {
    @include border_radius(0px, 0px, 0px, 0px);
    border: none;
    background-color: $ui_01;
    color: $text_01;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0 8px;
  }
  &__title {
    text-align: left;
  }
  & summary {
    cursor: pointer;
    min-height: 45px;
    padding: 0 8px;
  }
  & .opened,
  & .closed {
    @include font_icon();
    text-align: right;
  }
  & .opened {
    display: none;
  }
  &__copy {
    color: $text_01;
    display: none;
    padding: 0 8px;
  }
  &__item.-active,
  &__item[open] {
    padding-bottom: 20px;
    #{$p}__header,
    #{$p}__open-close {
      & .opened {
        display: block;
      }
      & .closed {
        display: none;
      }
    }
    #{$p}__copy {
      display: block;
    }
  }
}
