.nine-section {
  $p: &;
  background-color: $ui_01;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 40px 0;
  max-width: $width_xl;
  &.-full {
    max-width: 100%;
  }
  &__content {
    @include position_relative();
    & {
      margin: 0 auto;
      max-width: $width_xl;
    }
    &.-full {
      max-width: 100%;
    }
  }
  &__title {
    @include font_headline(bold);
    @include font_size(22px);
  }
}
