.nine-footer {
  background-color:$ui_01;
  & .company-info {
    align-items: center;
    &__logo {
      // todo
    }
  }
  &__copyright {
    background-color: $ui_03;
  }
}

.nine-footer-001 {
  & .nine-footer {
    &__intro-contact {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
      @include mq(lg) {
        flex-direction: row;
      }
    }
    &__intro-menu-content {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 100%;
    }
    &__intro-menu,
    &__contact-us-title-menu {
      @include border_radius();
      @include box_shadow();

    }
    &__contact-us-content {
      gap: 20px;
    }
  }
  & .navigation {
    &.-footer-menu {
      padding: 20px 0;
    }
    &.-social-menu {
      & .menu {
        & .menu-item {
          flex-direction: row;
          flex-wrap: nowrap;
          flex-grow: 1;
          width: auto;
          @include border_radius();
        }
      }
    }
  }
}
