.nine-alternating {
  @include position_relative();
  & {
    padding-bottom: 80px;
  }
  @include mq(lg) {
    padding-bottom: 0px;
  }
  &__item {
    background-color: $ui_01;
    &:nth-child(even) {
      background-color: $ui_02;
      @include mq(lg) {
        & .nine-alternating__image {
          order: 2;
        }
        & .nine-alternating__copy {
          order: 1;
        }
      }
    }
  }
  &__content {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: $width-xl;
  }
  &__copy {
    text-align: center;
    @include mq(lg) {
      text-align: left;
    }
  }
  &__title {
    //todo
  }
  &__image {
    margin-bottom: 0px;
    overflow: hidden;
    text-align: center;
    line-height: 0;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include opacity(1);
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    @include mq(lg) {
      flex-direction: row;
      gap: 20px;
    }
  }
  &__link {
    // todo
  }
}
