.nine-hero {
  @include position_relative();
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: fit-content;
    height: 100%;
    line-height: 0px;
    @include mq(lg) {
      background-size: 150%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    & img {
      width: fit-content;
      height: auto;
      @include opacity(0);
    }
  }
  &__content {
    top: 0px;
    width: 100%;
    align-items: center;
    align-content: center;
    @include position_relative();
  }
  &__copy {
    @include position_relative();
    background-color: $ui_01;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    @include mq(lg) {
      align-items: flex-start;
      margin: 40px;
    }
  }
  &__title {
    & h1 {
      margin: 0 0 20px 0;
    }
  }
  &__body {
    // todo
  }
  &__links {
    display: flex;
    gap: 20px;
    justify-content: center;
    @include mq(lg) {
      justify-content: flex-start;
    }
  }
  &__link {
    // todo
  }
}
