/**
 * Global menu options.
 */
 body.-active-menu {
  height: 100vh;
  overflow: hidden;
 }
 .navigation {
  position: relative;
  box-sizing: border-box;
  background-color: $ui_01;
  & .menu {
    @include position_relative();
    & {
      margin: 0 auto;
    }
    &-item {
      cursor: pointer;
      display: block;
      & span,
      & a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
      &.button {
        & a {
          @extend .nine-button;
        }
      }
    }
  }
  & .sub-menu {
    background-color: $ui_01;
    z-index: 2000;
    @include position_relative();
  }
}


// Main Menu
.navigation {
  $p: &;
  &.-main-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    height: 100vh;
    @include mq(lg) {
      position: relative;
      display: block;
      padding-right: 40px;
      height: auto;
    }
    & nav {
      width: 100vw;
      @include mq(lg) {
        width: auto;
      }
    }
    #{$p}__close-icon {
      display: none;
      text-align: right;
      @include font_size(20px);
    }
    & .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mq(lg) {
        flex-direction: row;
      }
      & > li {
        width: 100%;
        @include mq(lg) {
          width: auto;
        }
      }
      &-item {
        &:hover {
          // todo
        }
      }
    }
    & .menu-item-has-children {
      position: relative;
      & > a {
        &::after {
          content: '\f0d7';
          padding-left: 8px;
          @include font_icon();
        }
      }
      &:hover,
      &.-active {
        & > a {
          &::after {
            content: '\f0d8';
          }
        }
        & .sub-menu {
          @include mq(lg) {
            display: block;
            position: absolute;
            top: 32px;
            padding: 1rem;
            width: max-content;
          }
        }
      }
      & .sub-menu {
        &[aria-expanded="true"] {
          @include mq(lg) {
            display: block;
            position: absolute;
            top: 32px;
            padding: 1rem;
            width: max-content;
          }
        }
      }
    }
    & .sub-menu {
      display: flex;
      flex-direction: column;
      @include mq(lg) {
        display: none;
      }
    }
    & .get-involved {
      @extend .nine-button;
    }
  }
}
.-active {
  &.navigation {
    z-index: 2000;
    &.-main-menu {
      background-color: $ui-01;
      top: 90px;
      height: calc(100vh - 90px);
      display: flex;
      flex-direction: column;
      z-index: 200;
      @include vertical_scroll();
      & .navigation__close-icon {
        display: block;
        padding: 15px 40px;
      }
    }
  }
}

// Footer Menu
.navigation {
  $p: &;
  &.-footer-menu {
    & .menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      @include mq(md) {
        flex-wrap: nowrap;
        flex-direction: row;
      }
    }
  }
}

// Social Media Menu
.navigation {
  $p: &;
  &.-social-menu {
    & .menu {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      & > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        @include font_size(22px);
        @include border_radius(50%, 50%, 50%, 50%);
        @include box_shadow();
      }
      & a {
        @include font_size(22px);
      }
      & i {
        @include font_size(22px);
      }
    }
  }
}
