.nine-card {
  $p: &;
  @include position_relative();
  & {
    position: relative;
    margin: 0 auto;
  }
  &__content {
    @include position_relative();
  }
  &__items {
    //todo
  }
  &__item {
    position: relative;
    overflow: hidden;
  }
  &__body {
    border: solid 1px;
    position: relative;
    height: 100%;
  }
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0;
    max-height: calc(100% - 60%);
    overflow: hidden;
    z-index: 1;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    //todo
  }
  &__sub-title {
    //todo
  }
  &__copy {
    //todo
  }
  &__links {
    flex-direction: row;
    gap: 20px;
  }
  &__link {
    margin: auto 0 0 0;
  }
  &__reveal {
    background-color: $ui_01;
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    @include vertical_scroll();
    &.-active {
      display: block;
    }
  }
  &__open-close {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 5px;
    padding: 4px 8px;
    border: solid 1px $ui_03;
    background-color: $ui_01;
    color: $text_01;
    cursor: pointer;
    z-index: 10;
    @include font_size(24px);
    &:hover {
      color: $hover_01;
    }
  }
}
