.nine-g {
  @include font_base();
  text-rendering: optimizespeed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;

  &>div {
    box-sizing: border-box;
  }

  &.-debug {
    & [class*="nine-u"] {
      border-right: solid 1px #000000;

      &:last-child {
        border-right: none;
      }

      & .l-box {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(to bottom, rgba(250, 150, 150, 1) 0%, rgba(250, 150, 150, 1) 100%);
        background-clip: content-box, padding-box;
      }
    }
  }
  &.-column {
    flex-direction: column;
  }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
  table .nine-g {
    display: block
  }
}

.opera-only :-o-prefocus,
.nine-g {
  word-spacing: -0.43em;
}

.nine-u {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.nine-g [class*=nine-u] {
  @include font_base();

  &.-alignVertical {
    align-self: center;
  }
}

.l-box {
  padding: 1rem;
}
.ll-box {
  padding: 2rem;
}

.nine-u-1,
.nine-u-1-1,
.nine-u-1-2,
.nine-u-1-3,
.nine-u-2-3,
.nine-u-1-4,
.nine-u-3-4,
.nine-u-1-5,
.nine-u-2-5,
.nine-u-3-5,
.nine-u-4-5,
.nine-u-5-5,
.nine-u-1-6,
.nine-u-5-6,
.nine-u-1-8,
.nine-u-3-8,
.nine-u-5-8,
.nine-u-7-8,
.nine-u-1-12,
.nine-u-5-12,
.nine-u-7-12,
.nine-u-11-12,
.nine-u-1-24,
.nine-u-2-24,
.nine-u-3-24,
.nine-u-4-24,
.nine-u-5-24,
.nine-u-6-24,
.nine-u-7-24,
.nine-u-8-24,
.nine-u-9-24,
.nine-u-10-24,
.nine-u-11-24,
.nine-u-12-24,
.nine-u-13-24,
.nine-u-14-24,
.nine-u-15-24,
.nine-u-16-24,
.nine-u-17-24,
.nine-u-18-24,
.nine-u-19-24,
.nine-u-20-24,
.nine-u-21-24,
.nine-u-22-24,
.nine-u-23-24,
.nine-u-24-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.nine-u-1-24 {
  width: 4.1667%;
}

.nine-u-1-12,
.nine-u-2-24 {
  width: 8.3333%;
}

.nine-u-1-8,
.nine-u-3-24 {
  width: 12.5000%;
}

.nine-u-1-6,
.nine-u-4-24 {
  width: 16.6667%;
}

.nine-u-1-5 {
  width: 20%;
}

.nine-u-5-24 {
  width: 20.8333%;
}

.nine-u-1-4,
.nine-u-6-24 {
  width: 25%;
}

.nine-u-7-24 {
  width: 29.1667%;
}

.nine-u-1-3,
.nine-u-8-24 {
  width: 33.3333%;
}

.nine-u-3-8,
.nine-u-9-24 {
  width: 37.5000%;
}

.nine-u-2-5 {
  width: 40%;
}

.nine-u-5-12,
.nine-u-10-24 {
  width: 41.6667%;
}

.nine-u-11-24 {
  width: 45.8333%;
}

.nine-u-1-2,
.nine-u-12-24 {
  width: 50%;
}

.nine-u-13-24 {
  width: 54.1667%;
}

.nine-u-7-12,
.nine-u-14-24 {
  width: 58.3333%;
}

.nine-u-3-5 {
  width: 60%;
}

.nine-u-5-8,
.nine-u-15-24 {
  width: 62.5000%;
}

.nine-u-2-3,
.nine-u-16-24 {
  width: 66.6667%;
}

.nine-u-17-24 {
  width: 70.8333%;
}

.nine-u-3-4,
.nine-u-18-24 {
  width: 75%;
}

.nine-u-19-24 {
  width: 79.1667%;
}

.nine-u-4-5 {
  width: 80%;
}

.nine-u-5-6,
.nine-u-20-24 {
  width: 83.3333%;
}

.nine-u-7-8,
.nine-u-21-24 {
  width: 87.5000%;
}

.nine-u-11-12,
.nine-u-22-24 {
  width: 91.6667%;
}

.nine-u-23-24 {
  width: 95.8333%;
}

.nine-u-1,
.nine-u-1-1,
.nine-u-5-5,
.nine-u-24-24 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {

  .nine-u-sm-1,
  .nine-u-sm-1-1,
  .nine-u-sm-1-2,
  .nine-u-sm-1-3,
  .nine-u-sm-2-3,
  .nine-u-sm-1-4,
  .nine-u-sm-3-4,
  .nine-u-sm-1-5,
  .nine-u-sm-2-5,
  .nine-u-sm-3-5,
  .nine-u-sm-4-5,
  .nine-u-sm-5-5,
  .nine-u-sm-1-6,
  .nine-u-sm-5-6,
  .nine-u-sm-1-8,
  .nine-u-sm-3-8,
  .nine-u-sm-5-8,
  .nine-u-sm-7-8,
  .nine-u-sm-1-12,
  .nine-u-sm-5-12,
  .nine-u-sm-7-12,
  .nine-u-sm-11-12,
  .nine-u-sm-1-24,
  .nine-u-sm-2-24,
  .nine-u-sm-3-24,
  .nine-u-sm-4-24,
  .nine-u-sm-5-24,
  .nine-u-sm-6-24,
  .nine-u-sm-7-24,
  .nine-u-sm-8-24,
  .nine-u-sm-9-24,
  .nine-u-sm-10-24,
  .nine-u-sm-11-24,
  .nine-u-sm-12-24,
  .nine-u-sm-13-24,
  .nine-u-sm-14-24,
  .nine-u-sm-15-24,
  .nine-u-sm-16-24,
  .nine-u-sm-17-24,
  .nine-u-sm-18-24,
  .nine-u-sm-19-24,
  .nine-u-sm-20-24,
  .nine-u-sm-21-24,
  .nine-u-sm-22-24,
  .nine-u-sm-23-24,
  .nine-u-sm-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-sm-1-24 {
    width: 4.1667%;
  }

  .nine-u-sm-1-12,
  .nine-u-sm-2-24 {
    width: 8.3333%;
  }

  .nine-u-sm-1-8,
  .nine-u-sm-3-24 {
    width: 12.5000%;
  }

  .nine-u-sm-1-6,
  .nine-u-sm-4-24 {
    width: 16.6667%;
  }

  .nine-u-sm-1-5 {
    width: 20%;
  }

  .nine-u-sm-5-24 {
    width: 20.8333%;
  }

  .nine-u-sm-1-4,
  .nine-u-sm-6-24 {
    width: 25%;
  }

  .nine-u-sm-7-24 {
    width: 29.1667%;
  }

  .nine-u-sm-1-3,
  .nine-u-sm-8-24 {
    width: 33.3333%;
  }

  .nine-u-sm-3-8,
  .nine-u-sm-9-24 {
    width: 37.5000%;
  }

  .nine-u-sm-2-5 {
    width: 40%;
  }

  .nine-u-sm-5-12,
  .nine-u-sm-10-24 {
    width: 41.6667%;
  }

  .nine-u-sm-11-24 {
    width: 45.8333%;
  }

  .nine-u-sm-1-2,
  .nine-u-sm-12-24 {
    width: 50%;
  }

  .nine-u-sm-13-24 {
    width: 54.1667%;
  }

  .nine-u-sm-7-12,
  .nine-u-sm-14-24 {
    width: 58.3333%;
  }

  .nine-u-sm-3-5 {
    width: 60%;
  }

  .nine-u-sm-5-8,
  .nine-u-sm-15-24 {
    width: 62.5000%;
  }

  .nine-u-sm-2-3,
  .nine-u-sm-16-24 {
    width: 66.6667%;
  }

  .nine-u-sm-17-24 {
    width: 70.8333%;
  }

  .nine-u-sm-3-4,
  .nine-u-sm-18-24 {
    width: 75%;
  }

  .nine-u-sm-19-24 {
    width: 79.1667%;
  }

  .nine-u-sm-4-5 {
    width: 80%;
  }

  .nine-u-sm-5-6,
  .nine-u-sm-20-24 {
    width: 83.3333%;
  }

  .nine-u-sm-7-8,
  .nine-u-sm-21-24 {
    width: 87.5000%;
  }

  .nine-u-sm-11-12,
  .nine-u-sm-22-24 {
    width: 91.6667%;
  }

  .nine-u-sm-23-24 {
    width: 95.8333%;
  }

  .nine-u-sm-1,
  .nine-u-sm-1-1,
  .nine-u-sm-5-5,
  .nine-u-sm-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {

  .nine-u-md-1,
  .nine-u-md-1-1,
  .nine-u-md-1-2,
  .nine-u-md-1-3,
  .nine-u-md-2-3,
  .nine-u-md-1-4,
  .nine-u-md-3-4,
  .nine-u-md-1-5,
  .nine-u-md-2-5,
  .nine-u-md-3-5,
  .nine-u-md-4-5,
  .nine-u-md-5-5,
  .nine-u-md-1-6,
  .nine-u-md-5-6,
  .nine-u-md-1-8,
  .nine-u-md-3-8,
  .nine-u-md-5-8,
  .nine-u-md-7-8,
  .nine-u-md-1-12,
  .nine-u-md-5-12,
  .nine-u-md-7-12,
  .nine-u-md-11-12,
  .nine-u-md-1-24,
  .nine-u-md-2-24,
  .nine-u-md-3-24,
  .nine-u-md-4-24,
  .nine-u-md-5-24,
  .nine-u-md-6-24,
  .nine-u-md-7-24,
  .nine-u-md-8-24,
  .nine-u-md-9-24,
  .nine-u-md-10-24,
  .nine-u-md-11-24,
  .nine-u-md-12-24,
  .nine-u-md-13-24,
  .nine-u-md-14-24,
  .nine-u-md-15-24,
  .nine-u-md-16-24,
  .nine-u-md-17-24,
  .nine-u-md-18-24,
  .nine-u-md-19-24,
  .nine-u-md-20-24,
  .nine-u-md-21-24,
  .nine-u-md-22-24,
  .nine-u-md-23-24,
  .nine-u-md-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-md-1-24 {
    width: 4.1667%;
  }

  .nine-u-md-1-12,
  .nine-u-md-2-24 {
    width: 8.3333%;
  }

  .nine-u-md-1-8,
  .nine-u-md-3-24 {
    width: 12.5000%;
  }

  .nine-u-md-1-6,
  .nine-u-md-4-24 {
    width: 16.6667%;
  }

  .nine-u-md-1-5 {
    width: 20%;
  }

  .nine-u-md-5-24 {
    width: 20.8333%;
  }

  .nine-u-md-1-4,
  .nine-u-md-6-24 {
    width: 25%;
  }

  .nine-u-md-7-24 {
    width: 29.1667%;
  }

  .nine-u-md-1-3,
  .nine-u-md-8-24 {
    width: 33.3333%;
  }

  .nine-u-md-3-8,
  .nine-u-md-9-24 {
    width: 37.5000%;
  }

  .nine-u-md-2-5 {
    width: 40%;
  }

  .nine-u-md-5-12,
  .nine-u-md-10-24 {
    width: 41.6667%;
  }

  .nine-u-md-11-24 {
    width: 45.8333%;
  }

  .nine-u-md-1-2,
  .nine-u-md-12-24 {
    width: 50%;
  }

  .nine-u-md-13-24 {
    width: 54.1667%;
  }

  .nine-u-md-7-12,
  .nine-u-md-14-24 {
    width: 58.3333%;
  }

  .nine-u-md-3-5 {
    width: 60%;
  }

  .nine-u-md-5-8,
  .nine-u-md-15-24 {
    width: 62.5000%;
  }

  .nine-u-md-2-3,
  .nine-u-md-16-24 {
    width: 66.6667%;
  }

  .nine-u-md-17-24 {
    width: 70.8333%;
  }

  .nine-u-md-3-4,
  .nine-u-md-18-24 {
    width: 75%;
  }

  .nine-u-md-19-24 {
    width: 79.1667%;
  }

  .nine-u-md-4-5 {
    width: 80%;
  }

  .nine-u-md-5-6,
  .nine-u-md-20-24 {
    width: 83.3333%;
  }

  .nine-u-md-7-8,
  .nine-u-md-21-24 {
    width: 87.5000%;
  }

  .nine-u-md-11-12,
  .nine-u-md-22-24 {
    width: 91.6667%;
  }

  .nine-u-md-23-24 {
    width: 95.8333%;
  }

  .nine-u-md-1,
  .nine-u-md-1-1,
  .nine-u-md-5-5,
  .nine-u-md-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 64em) {

  .nine-u-lg-1,
  .nine-u-lg-1-1,
  .nine-u-lg-1-2,
  .nine-u-lg-1-3,
  .nine-u-lg-2-3,
  .nine-u-lg-1-4,
  .nine-u-lg-3-4,
  .nine-u-lg-1-5,
  .nine-u-lg-2-5,
  .nine-u-lg-3-5,
  .nine-u-lg-4-5,
  .nine-u-lg-5-5,
  .nine-u-lg-1-6,
  .nine-u-lg-5-6,
  .nine-u-lg-1-8,
  .nine-u-lg-3-8,
  .nine-u-lg-5-8,
  .nine-u-lg-7-8,
  .nine-u-lg-1-12,
  .nine-u-lg-5-12,
  .nine-u-lg-7-12,
  .nine-u-lg-11-12,
  .nine-u-lg-1-24,
  .nine-u-lg-2-24,
  .nine-u-lg-3-24,
  .nine-u-lg-4-24,
  .nine-u-lg-5-24,
  .nine-u-lg-6-24,
  .nine-u-lg-7-24,
  .nine-u-lg-8-24,
  .nine-u-lg-9-24,
  .nine-u-lg-10-24,
  .nine-u-lg-11-24,
  .nine-u-lg-12-24,
  .nine-u-lg-13-24,
  .nine-u-lg-14-24,
  .nine-u-lg-15-24,
  .nine-u-lg-16-24,
  .nine-u-lg-17-24,
  .nine-u-lg-18-24,
  .nine-u-lg-19-24,
  .nine-u-lg-20-24,
  .nine-u-lg-21-24,
  .nine-u-lg-22-24,
  .nine-u-lg-23-24,
  .nine-u-lg-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-lg-1-24 {
    width: 4.1667%;
  }

  .nine-u-lg-1-12,
  .nine-u-lg-2-24 {
    width: 8.3333%;
  }

  .nine-u-lg-1-8,
  .nine-u-lg-3-24 {
    width: 12.5000%;
  }

  .nine-u-lg-1-6,
  .nine-u-lg-4-24 {
    width: 16.6667%;
  }

  .nine-u-lg-1-5 {
    width: 20%;
  }

  .nine-u-lg-5-24 {
    width: 20.8333%;
  }

  .nine-u-lg-1-4,
  .nine-u-lg-6-24 {
    width: 25%;
  }

  .nine-u-lg-7-24 {
    width: 29.1667%;
  }

  .nine-u-lg-1-3,
  .nine-u-lg-8-24 {
    width: 33.3333%;
  }

  .nine-u-lg-3-8,
  .nine-u-lg-9-24 {
    width: 37.5000%;
  }

  .nine-u-lg-2-5 {
    width: 40%;
  }

  .nine-u-lg-5-12,
  .nine-u-lg-10-24 {
    width: 41.6667%;
  }

  .nine-u-lg-11-24 {
    width: 45.8333%;
  }

  .nine-u-lg-1-2,
  .nine-u-lg-12-24 {
    width: 50%;
  }

  .nine-u-lg-13-24 {
    width: 54.1667%;
  }

  .nine-u-lg-7-12,
  .nine-u-lg-14-24 {
    width: 58.3333%;
  }

  .nine-u-lg-3-5 {
    width: 60%;
  }

  .nine-u-lg-5-8,
  .nine-u-lg-15-24 {
    width: 62.5000%;
  }

  .nine-u-lg-2-3,
  .nine-u-lg-16-24 {
    width: 66.6667%;
  }

  .nine-u-lg-17-24 {
    width: 70.8333%;
  }

  .nine-u-lg-3-4,
  .nine-u-lg-18-24 {
    width: 75%;
  }

  .nine-u-lg-19-24 {
    width: 79.1667%;
  }

  .nine-u-lg-4-5 {
    width: 80%;
  }

  .nine-u-lg-5-6,
  .nine-u-lg-20-24 {
    width: 83.3333%;
  }

  .nine-u-lg-7-8,
  .nine-u-lg-21-24 {
    width: 87.5000%;
  }

  .nine-u-lg-11-12,
  .nine-u-lg-22-24 {
    width: 91.6667%;
  }

  .nine-u-lg-23-24 {
    width: 95.8333%;
  }

  .nine-u-lg-1,
  .nine-u-lg-1-1,
  .nine-u-lg-5-5,
  .nine-u-lg-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {

  .nine-u-xl-1,
  .nine-u-xl-1-1,
  .nine-u-xl-1-2,
  .nine-u-xl-1-3,
  .nine-u-xl-2-3,
  .nine-u-xl-1-4,
  .nine-u-xl-3-4,
  .nine-u-xl-1-5,
  .nine-u-xl-2-5,
  .nine-u-xl-3-5,
  .nine-u-xl-4-5,
  .nine-u-xl-5-5,
  .nine-u-xl-1-6,
  .nine-u-xl-5-6,
  .nine-u-xl-1-8,
  .nine-u-xl-3-8,
  .nine-u-xl-5-8,
  .nine-u-xl-7-8,
  .nine-u-xl-1-12,
  .nine-u-xl-5-12,
  .nine-u-xl-7-12,
  .nine-u-xl-11-12,
  .nine-u-xl-1-24,
  .nine-u-xl-2-24,
  .nine-u-xl-3-24,
  .nine-u-xl-4-24,
  .nine-u-xl-5-24,
  .nine-u-xl-6-24,
  .nine-u-xl-7-24,
  .nine-u-xl-8-24,
  .nine-u-xl-9-24,
  .nine-u-xl-10-24,
  .nine-u-xl-11-24,
  .nine-u-xl-12-24,
  .nine-u-xl-13-24,
  .nine-u-xl-14-24,
  .nine-u-xl-15-24,
  .nine-u-xl-16-24,
  .nine-u-xl-17-24,
  .nine-u-xl-18-24,
  .nine-u-xl-19-24,
  .nine-u-xl-20-24,
  .nine-u-xl-21-24,
  .nine-u-xl-22-24,
  .nine-u-xl-23-24,
  .nine-u-xl-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-xl-1-24 {
    width: 4.1667%;
  }

  .nine-u-xl-1-12,
  .nine-u-xl-2-24 {
    width: 8.3333%;
  }

  .nine-u-xl-1-8,
  .nine-u-xl-3-24 {
    width: 12.5000%;
  }

  .nine-u-xl-1-6,
  .nine-u-xl-4-24 {
    width: 16.6667%;
  }

  .nine-u-xl-1-5 {
    width: 20%;
  }

  .nine-u-xl-5-24 {
    width: 20.8333%;
  }

  .nine-u-xl-1-4,
  .nine-u-xl-6-24 {
    width: 25%;
  }

  .nine-u-xl-7-24 {
    width: 29.1667%;
  }

  .nine-u-xl-1-3,
  .nine-u-xl-8-24 {
    width: 33.3333%;
  }

  .nine-u-xl-3-8,
  .nine-u-xl-9-24 {
    width: 37.5000%;
  }

  .nine-u-xl-2-5 {
    width: 40%;
  }

  .nine-u-xl-5-12,
  .nine-u-xl-10-24 {
    width: 41.6667%;
  }

  .nine-u-xl-11-24 {
    width: 45.8333%;
  }

  .nine-u-xl-1-2,
  .nine-u-xl-12-24 {
    width: 50%;
  }

  .nine-u-xl-13-24 {
    width: 54.1667%;
  }

  .nine-u-xl-7-12,
  .nine-u-xl-14-24 {
    width: 58.3333%;
  }

  .nine-u-xl-3-5 {
    width: 60%;
  }

  .nine-u-xl-5-8,
  .nine-u-xl-15-24 {
    width: 62.5000%;
  }

  .nine-u-xl-2-3,
  .nine-u-xl-16-24 {
    width: 66.6667%;
  }

  .nine-u-xl-17-24 {
    width: 70.8333%;
  }

  .nine-u-xl-3-4,
  .nine-u-xl-18-24 {
    width: 75%;
  }

  .nine-u-xl-19-24 {
    width: 79.1667%;
  }

  .nine-u-xl-4-5 {
    width: 80%;
  }

  .nine-u-xl-5-6,
  .nine-u-xl-20-24 {
    width: 83.3333%;
  }

  .nine-u-xl-7-8,
  .nine-u-xl-21-24 {
    width: 87.5000%;
  }

  .nine-u-xl-11-12,
  .nine-u-xl-22-24 {
    width: 91.6667%;
  }

  .nine-u-xl-23-24 {
    width: 95.8333%;
  }

  .nine-u-xl-1,
  .nine-u-xl-1-1,
  .nine-u-xl-5-5,
  .nine-u-xl-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 120em) {

  .nine-u-xxl-1,
  .nine-u-xxl-1-1,
  .nine-u-xxl-1-2,
  .nine-u-xxl-1-3,
  .nine-u-xxl-2-3,
  .nine-u-xxl-1-4,
  .nine-u-xxl-3-4,
  .nine-u-xxl-1-5,
  .nine-u-xxl-2-5,
  .nine-u-xxl-3-5,
  .nine-u-xxl-4-5,
  .nine-u-xxl-5-5,
  .nine-u-xxl-1-6,
  .nine-u-xxl-5-6,
  .nine-u-xxl-1-8,
  .nine-u-xxl-3-8,
  .nine-u-xxl-5-8,
  .nine-u-xxl-7-8,
  .nine-u-xxl-1-12,
  .nine-u-xxl-5-12,
  .nine-u-xxl-7-12,
  .nine-u-xxl-11-12,
  .nine-u-xxl-1-24,
  .nine-u-xxl-2-24,
  .nine-u-xxl-3-24,
  .nine-u-xxl-4-24,
  .nine-u-xxl-5-24,
  .nine-u-xxl-6-24,
  .nine-u-xxl-7-24,
  .nine-u-xxl-8-24,
  .nine-u-xxl-9-24,
  .nine-u-xxl-10-24,
  .nine-u-xxl-11-24,
  .nine-u-xxl-12-24,
  .nine-u-xxl-13-24,
  .nine-u-xxl-14-24,
  .nine-u-xxl-15-24,
  .nine-u-xxl-16-24,
  .nine-u-xxl-17-24,
  .nine-u-xxl-18-24,
  .nine-u-xxl-19-24,
  .nine-u-xxl-20-24,
  .nine-u-xxl-21-24,
  .nine-u-xxl-22-24,
  .nine-u-xxl-23-24,
  .nine-u-xxl-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-xxl-1-24 {
    width: 4.1667%;
  }

  .nine-u-xxl-1-12,
  .nine-u-xxl-2-24 {
    width: 8.3333%;
  }

  .nine-u-xxl-1-8,
  .nine-u-xxl-3-24 {
    width: 12.5000%;
  }

  .nine-u-xxl-1-6,
  .nine-u-xxl-4-24 {
    width: 16.6667%;
  }

  .nine-u-xxl-1-5 {
    width: 20%;
  }

  .nine-u-xxl-5-24 {
    width: 20.8333%;
  }

  .nine-u-xxl-1-4,
  .nine-u-xxl-6-24 {
    width: 25%;
  }

  .nine-u-xxl-7-24 {
    width: 29.1667%;
  }

  .nine-u-xxl-1-3,
  .nine-u-xxl-8-24 {
    width: 33.3333%;
  }

  .nine-u-xxl-3-8,
  .nine-u-xxl-9-24 {
    width: 37.5000%;
  }

  .nine-u-xxl-2-5 {
    width: 40%;
  }

  .nine-u-xxl-5-12,
  .nine-u-xxl-10-24 {
    width: 41.6667%;
  }

  .nine-u-xxl-11-24 {
    width: 45.8333%;
  }

  .nine-u-xxl-1-2,
  .nine-u-xxl-12-24 {
    width: 50%;
  }

  .nine-u-xxl-13-24 {
    width: 54.1667%;
  }

  .nine-u-xxl-7-12,
  .nine-u-xxl-14-24 {
    width: 58.3333%;
  }

  .nine-u-xxl-3-5 {
    width: 60%;
  }

  .nine-u-xxl-5-8,
  .nine-u-xxl-15-24 {
    width: 62.5000%;
  }

  .nine-u-xxl-2-3,
  .nine-u-xxl-16-24 {
    width: 66.6667%;
  }

  .nine-u-xxl-17-24 {
    width: 70.8333%;
  }

  .nine-u-xxl-3-4,
  .nine-u-xxl-18-24 {
    width: 75%;
  }

  .nine-u-xxl-19-24 {
    width: 79.1667%;
  }

  .nine-u-xxl-4-5 {
    width: 80%;
  }

  .nine-u-xxl-5-6,
  .nine-u-xxl-20-24 {
    width: 83.3333%;
  }

  .nine-u-xxl-7-8,
  .nine-u-xxl-21-24 {
    width: 87.5000%;
  }

  .nine-u-xxl-11-12,
  .nine-u-xxl-22-24 {
    width: 91.6667%;
  }

  .nine-u-xxl-23-24 {
    width: 95.8333%;
  }

  .nine-u-xxl-1,
  .nine-u-xxl-1-1,
  .nine-u-xxl-5-5,
  .nine-u-xxl-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 160em) {

  .nine-u-xxxl-1,
  .nine-u-xxxl-1-1,
  .nine-u-xxxl-1-2,
  .nine-u-xxxl-1-3,
  .nine-u-xxxl-2-3,
  .nine-u-xxxl-1-4,
  .nine-u-xxxl-3-4,
  .nine-u-xxxl-1-5,
  .nine-u-xxxl-2-5,
  .nine-u-xxxl-3-5,
  .nine-u-xxxl-4-5,
  .nine-u-xxxl-5-5,
  .nine-u-xxxl-1-6,
  .nine-u-xxxl-5-6,
  .nine-u-xxxl-1-8,
  .nine-u-xxxl-3-8,
  .nine-u-xxxl-5-8,
  .nine-u-xxxl-7-8,
  .nine-u-xxxl-1-12,
  .nine-u-xxxl-5-12,
  .nine-u-xxxl-7-12,
  .nine-u-xxxl-11-12,
  .nine-u-xxxl-1-24,
  .nine-u-xxxl-2-24,
  .nine-u-xxxl-3-24,
  .nine-u-xxxl-4-24,
  .nine-u-xxxl-5-24,
  .nine-u-xxxl-6-24,
  .nine-u-xxxl-7-24,
  .nine-u-xxxl-8-24,
  .nine-u-xxxl-9-24,
  .nine-u-xxxl-10-24,
  .nine-u-xxxl-11-24,
  .nine-u-xxxl-12-24,
  .nine-u-xxxl-13-24,
  .nine-u-xxxl-14-24,
  .nine-u-xxxl-15-24,
  .nine-u-xxxl-16-24,
  .nine-u-xxxl-17-24,
  .nine-u-xxxl-18-24,
  .nine-u-xxxl-19-24,
  .nine-u-xxxl-20-24,
  .nine-u-xxxl-21-24,
  .nine-u-xxxl-22-24,
  .nine-u-xxxl-23-24,
  .nine-u-xxxl-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-xxxl-1-24 {
    width: 4.1667%;
  }

  .nine-u-xxxl-1-12,
  .nine-u-xxxl-2-24 {
    width: 8.3333%;
  }

  .nine-u-xxxl-1-8,
  .nine-u-xxxl-3-24 {
    width: 12.5000%;
  }

  .nine-u-xxxl-1-6,
  .nine-u-xxxl-4-24 {
    width: 16.6667%;
  }

  .nine-u-xxxl-1-5 {
    width: 20%;
  }

  .nine-u-xxxl-5-24 {
    width: 20.8333%;
  }

  .nine-u-xxxl-1-4,
  .nine-u-xxxl-6-24 {
    width: 25%;
  }

  .nine-u-xxxl-7-24 {
    width: 29.1667%;
  }

  .nine-u-xxxl-1-3,
  .nine-u-xxxl-8-24 {
    width: 33.3333%;
  }

  .nine-u-xxxl-3-8,
  .nine-u-xxxl-9-24 {
    width: 37.5000%;
  }

  .nine-u-xxxl-2-5 {
    width: 40%;
  }

  .nine-u-xxxl-5-12,
  .nine-u-xxxl-10-24 {
    width: 41.6667%;
  }

  .nine-u-xxxl-11-24 {
    width: 45.8333%;
  }

  .nine-u-xxxl-1-2,
  .nine-u-xxxl-12-24 {
    width: 50%;
  }

  .nine-u-xxxl-13-24 {
    width: 54.1667%;
  }

  .nine-u-xxxl-7-12,
  .nine-u-xxxl-14-24 {
    width: 58.3333%;
  }

  .nine-u-xxxl-3-5 {
    width: 60%;
  }

  .nine-u-xxxl-5-8,
  .nine-u-xxxl-15-24 {
    width: 62.5000%;
  }

  .nine-u-xxxl-2-3,
  .nine-u-xxxl-16-24 {
    width: 66.6667%;
  }

  .nine-u-xxxl-17-24 {
    width: 70.8333%;
  }

  .nine-u-xxxl-3-4,
  .nine-u-xxxl-18-24 {
    width: 75%;
  }

  .nine-u-xxxl-19-24 {
    width: 79.1667%;
  }

  .nine-u-xxxl-4-5 {
    width: 80%;
  }

  .nine-u-xxxl-5-6,
  .nine-u-xxxl-20-24 {
    width: 83.3333%;
  }

  .nine-u-xxxl-7-8,
  .nine-u-xxxl-21-24 {
    width: 87.5000%;
  }

  .nine-u-xxxl-11-12,
  .nine-u-xxxl-22-24 {
    width: 91.6667%;
  }

  .nine-u-xxxl-23-24 {
    width: 95.8333%;
  }

  .nine-u-xxxl-1,
  .nine-u-xxxl-1-1,
  .nine-u-xxxl-5-5,
  .nine-u-xxxl-24-24 {
    width: 100%;
  }
}

@media screen and (min-width: 240em) {

  .nine-u-x4k-1,
  .nine-u-x4k-1-1,
  .nine-u-x4k-1-2,
  .nine-u-x4k-1-3,
  .nine-u-x4k-2-3,
  .nine-u-x4k-1-4,
  .nine-u-x4k-3-4,
  .nine-u-x4k-1-5,
  .nine-u-x4k-2-5,
  .nine-u-x4k-3-5,
  .nine-u-x4k-4-5,
  .nine-u-x4k-5-5,
  .nine-u-x4k-1-6,
  .nine-u-x4k-5-6,
  .nine-u-x4k-1-8,
  .nine-u-x4k-3-8,
  .nine-u-x4k-5-8,
  .nine-u-x4k-7-8,
  .nine-u-x4k-1-12,
  .nine-u-x4k-5-12,
  .nine-u-x4k-7-12,
  .nine-u-x4k-11-12,
  .nine-u-x4k-1-24,
  .nine-u-x4k-2-24,
  .nine-u-x4k-3-24,
  .nine-u-x4k-4-24,
  .nine-u-x4k-5-24,
  .nine-u-x4k-6-24,
  .nine-u-x4k-7-24,
  .nine-u-x4k-8-24,
  .nine-u-x4k-9-24,
  .nine-u-x4k-10-24,
  .nine-u-x4k-11-24,
  .nine-u-x4k-12-24,
  .nine-u-x4k-13-24,
  .nine-u-x4k-14-24,
  .nine-u-x4k-15-24,
  .nine-u-x4k-16-24,
  .nine-u-x4k-17-24,
  .nine-u-x4k-18-24,
  .nine-u-x4k-19-24,
  .nine-u-x4k-20-24,
  .nine-u-x4k-21-24,
  .nine-u-x4k-22-24,
  .nine-u-x4k-23-24,
  .nine-u-x4k-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .nine-u-x4k-1-24 {
    width: 4.1667%;
  }

  .nine-u-x4k-1-12,
  .nine-u-x4k-2-24 {
    width: 8.3333%;
  }

  .nine-u-x4k-1-8,
  .nine-u-x4k-3-24 {
    width: 12.5000%;
  }

  .nine-u-x4k-1-6,
  .nine-u-x4k-4-24 {
    width: 16.6667%;
  }

  .nine-u-x4k-1-5 {
    width: 20%;
  }

  .nine-u-x4k-5-24 {
    width: 20.8333%;
  }

  .nine-u-x4k-1-4,
  .nine-u-x4k-6-24 {
    width: 25%;
  }

  .nine-u-x4k-7-24 {
    width: 29.1667%;
  }

  .nine-u-x4k-1-3,
  .nine-u-x4k-8-24 {
    width: 33.3333%;
  }

  .nine-u-x4k-3-8,
  .nine-u-x4k-9-24 {
    width: 37.5000%;
  }

  .nine-u-x4k-2-5 {
    width: 40%;
  }

  .nine-u-x4k-5-12,
  .nine-u-x4k-10-24 {
    width: 41.6667%;
  }

  .nine-u-x4k-11-24 {
    width: 45.8333%;
  }

  .nine-u-x4k-1-2,
  .nine-u-x4k-12-24 {
    width: 50%;
  }

  .nine-u-x4k-13-24 {
    width: 54.1667%;
  }

  .nine-u-x4k-7-12,
  .nine-u-x4k-14-24 {
    width: 58.3333%;
  }

  .nine-u-x4k-3-5 {
    width: 60%;
  }

  .nine-u-x4k-5-8,
  .nine-u-x4k-15-24 {
    width: 62.5000%;
  }

  .nine-u-x4k-2-3,
  .nine-u-x4k-16-24 {
    width: 66.6667%;
  }

  .nine-u-x4k-17-24 {
    width: 70.8333%;
  }

  .nine-u-x4k-3-4,
  .nine-u-x4k-18-24 {
    width: 75%;
  }

  .nine-u-x4k-19-24 {
    width: 79.1667%;
  }

  .nine-u-x4k-4-5 {
    width: 80%;
  }

  .nine-u-x4k-5-6,
  .nine-u-x4k-20-24 {
    width: 83.3333%;
  }

  .nine-u-x4k-7-8,
  .nine-u-x4k-21-24 {
    width: 87.5000%;
  }

  .nine-u-x4k-11-12,
  .nine-u-x4k-22-24 {
    width: 91.6667%;
  }

  .nine-u-x4k-23-24 {
    width: 95.8333%;
  }

  .nine-u-x4k-1,
  .nine-u-x4k-1-1,
  .nine-u-x4k-5-5,
  .nine-u-x4k-24-24 {
    width: 100%;
  }
}
