/**
 * modifiers
 */
.-pull{
  &-left {
    float: left;
  }
  &-right{
    float: right;
  }
}
.-x-center {
  justify-content: center;
  text-align: center;
}
.-y-center {
  align-items: center;
  align-self: center;
  align-content: center !important;
}

.-hidden,
[hidden] {
  display: none !important;
}
.visually-hidden:not(:focus):not(:active),
.-scrn-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * classes for easy use
 */
.-text {
  &-01 {
    color: $text_01;
  }
  &-02 {
    color: $text_02;
  }
  &-03 {
    color: $text_03;
  }
  &-brand-01 {
    color: $brand_01;
  }
  &-brand-02 {
    color: $brand_02;
  }
  &-brand-03 {
    color: $brand_03;
  }
  &-ui-01 {
    color: $ui_01;
  }
  &-ui-02 {
    color: $ui_02;
  }
  &-ui-03 {
    color: $ui_03;
  }
  &-text-01 {
    color: $text_01;
  }
  &-text-02 {
    color: $text_02;
  }
  &-text-03 {
    color: $text_03;
  }
  &-left,
  &-center,
  &-right {
    display: inline-block;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.-background {
  &-01 {
    background-color: $ui_01;
  }
  &-02 {
    background-color: $ui_02;
  }
  &-brand-01 {
    background-color: $brand_01;
  }
  &-brand-02 {
    background-color: $brand_02;
  }
  &-brand-03 {
    background-color: $brand_03;
  }
  &-ui-01 {
    background-color: $ui_01;
  }
  &-ui-02 {
    background-color: $ui_02;
  }
  &-ui-03 {
    background-color: $ui_03;
  }
  &-text-01 {
    background-color: $text_01;
  }
  &-text-02 {
    background-color: $text_02;
  }
  &-text-03 {
    background-color: $text_03;
  }
}

.-hover {
  &-01 {
    &:hover {
      color: $hover_01;
    }
  }
  &-02 {
    &:hover {
      color: $hover_02;
    }
  }
  &-03 {
    &:hover {
      color: $hover_row;
    }
  }
}
