/**
 * brand colors
 * 01: primary brand, interactive text, primary icon, border highlight & empasis background
 * 02: supporting brand
 * 03: tertiary brand ie. loading
 */
$brand_01: #48a2dc;
$brand_02: #000000;
$brand_03: #000000;

/**
 * text colors
 * 01: headline & strong tags
 * 02: body text
 * 03: secondary text ie. image caption
 */
$text_01: #121212;
$text_02: #2b2b2b;
$text_03: #4b4b4b;
$text_01-dmode: #bfc7d2;
$text_02-dmode: #afb6c0;
$text_03-dmode: #a9b0b9;


/**
 * ui colors
 * 01: primary background & component shape background
 * 02: secondary background
 * 03: tertiary background border color & disabled state
 * 04:
 */
$ui_01: #F4F4F5;
$ui_02: #DFE1E2;
$ui_03: #B3B8BA;
$ui_01-dmode: #171f2b;
$ui_02-dmode: #0e131b;
$ui_03-dmode: #050609;

/**
 * hover state colors
 * 01: brand-01 element hover
 * 02: brand-02 element hover
 * 03: row hover
 */
$hover_01: #48a2dc;
$hover_02: #48a2dc;
$hover_row: #DFE1E2;
$hover_row-dmode: #050609;

/**
 * admin button colors
 */
$c_black: #000000;
$c_red: #bb0000;
$c_blue: #0074BD;
$c_green: #4d8f46;
$c_yellow: #e7ff6f;
$c_white: #ffffff;

$facebook: #3b5998;
$twitter: #00aced;
$pinterest: #bb0000;
$instagram: #777777;
$youtube: #777777;
$comments: #222222;

$width_xs: 20.5em;
$width_sm: 33.5em;
$width_md: 48em;
$width_lg: 64em;
$width_xl: 80em;
$width_xxl: 120em;
$width_xxxl: 160em;
$width_x4k: 240em;
$max-width: $width_xxl;
